.btn2{
    background-color: aqua;
    width: 200px;
    height: 100px;
    margin-top: 5px;
}
.pulse-button{
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all .2s;
        position: absolute;
        margin:15px;
        
}
.pulse-button:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.pulse-button:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.pulse-button-white{
    background-color: #fff;
    color:#777;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.pulse-button::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
}
.pulse-button-white{
    background-color: #fff;
}
.pulse-button:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
}
.pulse-button-animted{
    animation: moveInBottom 5s ease-out;
        animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}